@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overscroll-behavior: none;
}


.shadow-card{
    background-color: rgb(255, 255, 255);
    color: rgb(35, 46, 70);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    overflow: hidden;
}
